{{- /*gotype: github.com/ideade/epic-notifier/app.PostGameTemplateData*/ -}}
<b>Раздаётся игра {{.Game.Title}}</b>

{{ if ne .Game.Description "" -}}
{{ .Game.Description }}
{{ end }}
{{- if ne (len .Game.CountriesBlacklist) 0 }}
<b>Недоступна в регионах:</b> {{ blacklistedCountries .Game.CountriesBlacklist }}
{{- end }}
{{- if and (ne .Game.Price.Format "") (gt .Game.Price.Original 0.0) }}
<b>Обычная цена:</b> {{ format .Game "RUB" }} ({{ format .Game "USD" }})
{{- end }}
{{- if ne (len .Game.Genres) 0 }}
<b>Жанры:</b> {{ join .Game.Genres }}
{{- end }}
{{- if ne .Game.Developer "" }}
<b>Разработчик:</b> {{ .Game.Developer }}
{{- end }}
{{- if ne .Game.Publisher "" }}
<b>Издатель:</b> {{ .Game.Publisher }}
{{- end }}
{{- if ne (len .Game.Platforms) 0 }}
<b>Платформы:</b> {{ join .Game.Platforms }}
{{- end }}

<a href="{{ .Game.Url }}">Страница в магазине</a>

Игра доступна бесплатно до {{ .AvailabilityTime.Day }} {{ month .AvailabilityTime.Month }} {{ .AvailabilityTime.Format "15:04 MST" }}
